@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

* {
  scroll-behavior: smooth;
}
body {
  font-family: 'Archivo', sans-serif;
  color: #0F0F0F;
  background-color: $grey-2;
  scroll-behavior: smooth;
}
.sf {
  font-family: 'SF UI Display', sans-serif;
}
.container-gravy {
  padding: 15px 10px;
  width: 1400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
}